.itheora-admin {
    margin-top: 20px;
    height: 60px;
    width: 100%;
}

.itheora-admin img {
    vertical-align: middle;
}

.indent {
    margin-left: 50px;
}

input {
    margin: 4px;
}

input[type=text] {
    min-width: 250px;
}

#wp-itheora-info ul {
    list-style-type:circle;
    margin-left: 20px;
}

#wp-itheora-info li {
    padding-left: 10px;
}

.indent {
}

.itheora-submit {
    width: 100px;
}

#wp-itheora-video ul {
    list-style-type: circle;
    list-style-position: inside;
}
#wp-itheora-video li {
    padding-left: 20px;
}
